:root {
  --main-color-white: white;
  --text-color-white: #FFFFFFFF;
  --text-color-navy: #2e2f42;
  --text-color-slate: #434455;
  --text-color-cloud: #f4f4fd;
  --text-color-logo: #4d5ae5;
  --background-color: #2e2f42;
  --button-hover-color: #404bbf;
  --label-color: #8e8f99;
  /* --button-color: #f4f4f4fd; */
  
  --logo-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--text-font-family);
  background-color: var(--main-color-white);
  color: var(--text-color-slate);
}


h2 {
  margin: 0;
}


p{
  margin: 0;
  
}









.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}


/*Header*/



.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-div {
  display: flex;
  justify-content: space-between;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}




.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px 0;
}
@media (min-width: 768px) {
  .nav {
    display: flex;
    width: unset;
    justify-content: unset;
    align-items: center;
    padding: 0;
  }}
.js-open-menu {
  display: block;
}
@media (min-width: 768px) {
  .js-open-menu {
    display: none;
  }}
.logo-link {
  color: var(--text-color-logo);
  font-family: var(--logo-font-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  display: inline-block; 
 
}

#blue {
  color: #404bbf;
}

.logo-second-word {
  color: var(--text-color-navy);
}


.list {
  list-style: none;
  gap: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.nav-menu {
 display: none;
}
@media (min-width: 768px) {
  .nav-menu {
    display: flex;
    gap: 40px;
  }}



.nav-link {
  color: var(--text-color-navy);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  padding: 24px 0;
 



  
}

.nav-link:hover .nav-link:focus {
  color: var(--button-hover-color);
}




.address {
  color: var(--text-color-slate);
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.address-list {
 display: none;

}
@media (min-width: 768px) {
  .address-list {
    display: block;
    gap: 40px;
  }}
@media (min-width: 1158px) {
  .address-list {
    display: flex; } }


.address:hover .address:focus {
  color: var(--text-color-cloud);
}


.phone-email {
  color: var(--text-color-slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-email:hover .phone-email:focus {
  background-color: var(--button-hover-color);
}


/*First Section*/




.first-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/pozahero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: auto;
  position: relative;
  height: 400px;
}

@media (min-width: 768px) {
  .first-section {
    height: 425px;
  }}

@media (min-width: 1158px) {
  .first-section {
    height: 500px;
  }}

.container1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}


.title-first-section {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;


  margin-left: auto;
  margin-right: auto;
}

.button-first-section {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  color: var(--WHITE, #fff);

  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.button-first-section:hover {
  background-color: #404bbf;
}

.button-first-section:focus {
  background-color: #404bbf;
}



/*Second section*/

.p-social-media {

  margin-bottom: 16px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color-white);
  font-style: normal;
  
  
}










ul {
  padding: 0;
}



.title-second-section {
  margin-bottom: 8px;
  text-align: center;
  font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
}

@media (min-width: 768px) {
  .title-second-section {
    text-align: left;
  } }
@media (min-width: 1158px) {
  .title-second-section {
    text-align: center;
    font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
  } }

  .name {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
  }

.paragraph-second-section {
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-align: left;
}
@media (min-width: 768px) {
  .paragraph-second-section {
    text-align: left;
  }
   }
@media (min-width: 1158px) {
  .paragraph-second-section {
    font-weight: 400;
  }
   }

.second-section {
  padding: 120px 0;
  display: flex;
}

.paragraph-second-section-forth {
  color: var(--SLATE, #434455);
  text-align: center;

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  padding: 10px 0;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.forth-social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.forth-icons {
  height: 40px;
  width: 40px;
  list-style-type: none;
}

.link-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: Center;
  fill: var(--text-color-cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-icons:hover {
  background-color: #404bbf;
}

.link-icons:focus {
  background-color: #404bbf;
}

.our-team-icons {
  /* fill: #f4f4fd; */
  fill: var(--text-color-cloud);
}

.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}



.list-customers {
  list-style: none;
  /* padding: 24px; */
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  
}


.subtitle {

  font-size: 36px;
  line-height: 1.11;
  color: var(--NAVY-BLUE, #2e2f42);
  margin-bottom: 72px;
  
  text-align: center;
}





.icons-list {
  width: 168px;
  height: 88px;
  /* flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  display: flex;
  align-items: center;
  fill: currentColor; */
}

.icons-list-svg {

  width: 104px;
  height: 56px;
  fill: currentColor;


}


.link-customers-five-section {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* box-sizing: border-box; */
}

.link-customers-five-section:hover {
  color: #404bbf;
  border-color: #404bbf;
}

.link-customers-five-section:focus {
  color: #404bbf ;
  border-color: #404bbf;
}

.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--list-color);
 
}

.forth-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.title-forth-section {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.background-special {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: auto;
  max-width: 264px;
  gap: 24px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.container-forth {
  padding-top: 32px;
  padding-bottom: 32px;
}

.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}



img {
  display: block;
}

.studio {

  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 4px solid #404bbf;
  padding-bottom: 28px;
  text-decoration: none;
  
  

}
@media (min-width: 1158px) {
  .studio {
    padding-bottom: 17px; } }


.studio::after {

  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);



}




/* .port {

  color: #404bbf;
  position: relative;

  







} */


.port::after {

  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);




}












.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;

  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0,  0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
 
  



}






.button:hover {
  background-color: #404bbf;
  color: #ffffffff;
  border: 1px solid transparent;
  box-shadow:  0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button:focus {
  background-color: #404bbf;
  color: #ffffffff;
  border: 1px solid transparent;
  box-shadow:  0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}




.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-link {
  /* width: calc((100%-48px) / 3); */
  display:block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

 



}

.portfolio-link-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
 
 
}

.portfolio-link:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
  /* transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */

  /* transform: translateY(0%); */

  


 





}

.card {

  position: relative;
  overflow: hidden;


}

.p-card {

  position: absolute;
  top: 0;

  
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: var(--text-color-cloud);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  


}


.portfolio-link:hover .p-card {

  transform: translateY(0);

}


.portfolio-link:focus .p-card {

  transform: translateY(0);
}







.portfolio-link:focus{

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
  transform: translateY(0%);

}





.footer-class {
  background-color: var(--background-color);
  padding: 100px 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-class {
   text-align: left;
  } }

.container-footer {
  display: flex;
  max-width: 1125px;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  /* margin-right: 120px; */
}
@media (min-width: 1158px) {
  .container-footer {
    gap: 0px;
    justify-content: space-between; } }

.span-footer {
  color: var(--CLOUD, #f4f4fd);


  /* font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */



  /* letter-spacing: 0.54px;
  text-transform: uppercase; */ 
}

.logo-footer {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;

  text-decoration: none;

}

.last-icons {
  /* fill: #f4f4f4fd; */
  fill: var(--text-color-cloud);
}

.logo-footer-link {
  color: var(--CLOUD, #f4f4fd);

  /* Body */
  /* font-family: Roboto; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  max-width: 264px;
  margin-top: 15px;
  text-align: left;

}


@media (min-width: 536px) {
  .subscribe-container {
    margin-left: -120px;
  text-align: left; } }

@media (min-width: 768px) {
  .subscribe-container {
    margin-left: -44px; } }
@media (min-width: 969px) {
  .subscribe-container {
   margin: 0; } }



.footer-list {
  display: flex;
  gap: 16px;
}

.listaa {
  width: 40px;
  height: 40px;
  list-style-type: none;
}

.link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-footer:hover,
.link-footer:focus{

  background-color: #31d0aa;

  

}

.filter-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

/* .button-filter {
  font-family: var(--text-font-family);
  color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  background-color: var(--text-color-cloud);
  cursor: pointer;
}

.button-filter:hover .button-filter:focus {
  color: #ffffffff;
  background-color: #404bbf;
} */

.projects-name {
  color: var(--text-color-navy);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.projects-description {
  color: var(--text-color-slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}




.first-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/pozahero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}

.title-first-section {
  color: var(--WHITE, #FFF);
  text-align: center;
  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .title-first-section {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
  } }







/*Second section*/

.visually-hidden {
margin-right: 5px;
}

.second-section-list {
    width: 100%;  
}

@media (min-width: 768px) {
  .second-section-list {
    width: calc(50% - 13px);  
  } }

@media (min-width: 1158px) {
  .second-section-list {
    flex: 1;
    min-width: unset;
    max-width: 264px;
  } }

.second-section-icons {
  display: none;
}

@media (min-width: 1158px) {
  .second-section-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px; } }

.section-third {
display: none;
}

@media (min-width: 1158px) {
  .section-third {
    display: block;
    padding-bottom: 120px;
  }}

.title-third-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.third-section-list {
  max-width: 360px;
  width: 100%;
  gap: 24px;
}

/*Forth Section*/

.forth-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.title-forth-section {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.background-special {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
 
  gap: 24px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
}

@media (min-width: 768px) {
  .background-special  {
    width: 50%; 
  }}
@media (min-width: 1158px) {
  .background-special  {
    width: 100%;
    min-width: 264px;
  }}


.paragraph-second-section-forth {
  color: var(--SLATE, #434455);
  text-align: center;

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}


/* Fereastra modala*/

.modal-cls {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px 24px;
  






}

.is-hidden {

  opacity: 0;
  visibility: hidden;
  pointer-events: none;




}


.modal-window {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0,  0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  

  

  
  





}

.modal-button {

  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  






}

.modal-button:hover,
.modal-button:focus {

  background-color: #404bbf;
  border: none;
  fill: #ffffff;




}




.modal-svg {

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


}


.p-modal {

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color-navy);
  margin-bottom: 16px;


}

.form {

  margin-bottom: 8px;
  gap: 24px;
   

}

.name-label {

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--label-color);
  display: block;
  margin-bottom: 4px;
  display: block;


}

.input {

  position: relative;


}

.input-class {

  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);





}


.input-class:focus {

  border-color: #4D5AE5 ;
  fill: #4D5AE5;





}


.input-svg {

  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #4D5AE5;
  


}


.comment-form {

  margin-bottom: 16px;


}

.textarea-form {

  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);




}


.textarea-form:focus {

  border-color: #4D5AE5;




}


.container-checkbox {
  display: flex;
  margin-bottom: 24px;




}


.name-label-checkbox {

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99; 
  display: block;




}

.span-privacy {

  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* fill: transparent; */
  background-color: #404bbf; 
 
  
  fill: transparent;
  
  
  





}

.link-privacy {

  color: var(--text-color-logo);





}

.button-checkbox {

  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);







}


.p-subscribe {

  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;




}

.subscribe-form {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;




}

.subscribe-label {
  width: 100%;
  gap: 24px;




}
@media (min-width: 768px) {
  .subscribe-label {
    width: unset;

  }}

.input-sub {
display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;


}

@media (min-width: 768px) {
  .input-sub {
    width: 264px;
  }}

.button-subscribe {

  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  margin: auto;

}
@media (min-width: 536px) {
  .button-subscribe {
    margin: unset; } }

.svg-subscribe {

  margin-left: 16px;






}




.input-svg:focus {

  fill: #4D5AE5;




}


.input-checkbox:checked + .name-label-checkbox span:first-child {

  border:none;
  fill: var(--text-color-cloud);
  background-color: var(--button-hover-color);


}

.js-menu-container {
  display: none;
  position: relative;
  
}
.is-open {
background-color: white;
position: fixed;
width: 100%;
height: 100vh;
display: block;
z-index: 1000;
top: 0;
padding: 24px 24px 40px 40px;
overflow: auto;
min-height: 500px;

}

.js-close-menu {
  border: 2px solid #E7E9FC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;

}
.is-open ul {
  list-style: none;
}
.is-open .header2 {
  padding-top: 30px;
}
.is-open ul a {
  font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
margin: 20px 0;
color: var(--NAVY-BLUE, #2E2F42);
text-decoration: none;
display: block;

}

.is-open ul #this {
color: #404BBF;
}

.is-open .bottom {
  margin-top: auto;
}
.bottom {
  position: absolute;
  bottom: 40px;
}
.bottom a {
  display: block;
  text-decoration: none;
}
#number {
  color: var(--IRIS, #4D5AE5);
/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
}

#email {
  color: var(--SLATE, #434455);
/* Header 3 */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
margin-top: 48px;
}

.socialmedia {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 48px;
}
.socialmedia a {
  display: flex;
  background-color: #4D5AE5;
  padding: 10px;
  border-radius: 50%;

}



